@use "../../../styles/colors" as c;

.projects {
  margin: 20vh auto;
  width: min(100% - 6rem, 70rem);
  &__heading {
    color: c.$mine-lightest-blue;
  }

  &__anime-quote {
    margin: 2rem 0;
  }

  &__anime-heading {
    color: c.$mine-lightest-blue;
  }
}
