.about {
  margin: 20vh auto;
  width: min(100% - 6rem, 70rem);

  &__picture {
    display: flex;
    justify-content: center;
    margin: 1.6rem 0;
  }

  &__picture-img {
    filter: grayscale(100%);
    transition: filter 1000ms 500ms;
    max-height: 40rem;

    &:hover {
      filter: grayscale(0);
    }
  }
}
