@use "../../../styles/colors" as c;

.about {
  margin: 20vh auto;
  width: min(100% - 6rem, 70rem);

  &__heading {
    color: c.$mine-lightest-blue;
  }

  &__first-p {
    p {
      margin: 1rem 0;
    }
  }
  &__picture {
    display: flex;
    justify-content: center;
    margin: 1.6rem 0;
  }

  &__picture-img {
    filter: grayscale(100%);
    transition: filter 1000ms 500ms;
    max-height: 40rem;

    &:hover {
      filter: grayscale(0);
    }
  }

  &__graph {
    display: none;
    justify-content: center;
  }

  &__anime-quote {
    margin: 2rem 0;
  }

  &__anime-heading {
    color: c.$mine-lightest-blue;
  }

  &__skills {
    margin: 10vh 0;
  }

  &__skills-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
  }

  &__skill-item {
    margin: 3rem 3rem;
    width: 15rem;
    height: 15rem;
  }

  &__skill-img {
    height: 10rem;
  }

  &__skill-name {
    text-align: center;
  }
}
